* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Hanken Grotesk", sans-serif;
}

.parent {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.child-1 {
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  grid-area: 2/ 2/ 3/3;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  width: 240px;
  height: 370px;
  z-index: 2;
  box-shadow: hsl(224, 30%, 27%) 0px 1px 2px 0px;
}

.child-2 {
  background-color: white;
  grid-area: 2/3/3/4;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  width: 275px;
  height: 370px;
  z-index: 1;
  position: relative;
  box-shadow: hsla(224, 30%, 27%, 10%) 1px 6px 1px 0px;
  margin-left: -30px;
}

.result {
  color: hsl(241, 100%, 89%);
  margin: 10px 0;
  font-size: 18px;
}

.score {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-image: linear-gradient(
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 35px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.score::before {
  content: "76";
  color: white;
  font-size: 50px;
  position: absolute;
  left: 32%;
  top: 35px;
}

.score::after {
  content: " of 100";
  color: hsl(241, 100%, 89%);
  font-size: 13px;
  position: absolute;
  left: 38%;
  top: 97px;
}

.great {
  color: white;
  font-size: 23px;
  margin: 10px auto;
}

.final-p {
  color: hsl(241, 100%, 89%);
  font-size: 11px;
  margin: 10px auto;
  width: 150px;
}

.sum {
  position: relative;
  left: -43px;
  top: 5px;
  margin-bottom: 45px;
  font-size: 18px;
}

.react {
  background-color: hsla(0, 100%, 67%, 5%);
  color: hsl(0, 100%, 67%);
  margin-bottom: 15px;
  margin-left: 45px;
  margin-right: auto;
  font-size: 15px;
  padding: 10px;
  padding-right: 100px;
  width: 190px;
  height: 40px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  position: relative;
}

.react::before {
  content: "80";
  color: black;
  position: absolute;
  left: 124px;
  top: 10px;
  font-size: 15px;
}

.react::after {
  content: "/ 100";
  color: hsla(224, 30%, 27%, 50%);
  position: absolute;
  top: 10px;
  left: 148px;
  font-size: 15px;
}

.mem {
  background-color: hsla(39, 100%, 56%, 5%);
  color: hsl(39, 100%, 56%);
  margin-bottom: 15px;
  margin-left: 45px;
  margin-right: auto;
  font-size: 15px;
  padding: 10px;
  padding-right: 100px;
  width: 190px;
  height: 40px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  position: relative;
}

.mem::before {
  content: "92";
  color: black;
  position: absolute;
  left: 124px;
  top: 10px;
  font-size: 15px;
}

.mem::after {
  content: "/ 100";
  color: hsla(224, 30%, 27%, 50%);
  position: absolute;
  top: 10px;
  left: 148px;
  font-size: 15px;
}

.verb {
  background-color: hsla(166, 100%, 37%, 5%);
  color: hsl(166, 100%, 37%);
  margin-bottom: 15px;
  margin-left: 45px;
  margin-right: auto;
  font-size: 15px;
  padding: 10px;
  padding-right: 100px;
  width: 190px;
  height: 40px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  position: relative;
}

.verb::before {
  content: "61";
  color: black;
  position: absolute;
  left: 124px;
  top: 10px;
  font-size: 15px;
}

.verb::after {
  content: "/ 100";
  color: hsla(224, 30%, 27%, 50%);
  position: absolute;
  top: 10px;
  left: 148px;
  font-size: 15px;
}

.vis {
  background-color: hsla(234, 85%, 45%, 5%);
  color: hsl(234, 85%, 45%);
  margin-bottom: 15px;
  margin-left: 45px;
  margin-right: auto;
  font-size: 15px;
  padding: 10px;
  padding-right: 100px;
  width: 190px;
  height: 40px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  position: relative;
}

.vis::before {
  content: "72";
  color: black;
  position: absolute;
  left: 124px;
  top: 10px;
  font-size: 15px;
}

.vis::after {
  content: "/ 100";
  color: hsla(224, 30%, 27%, 50%);
  position: absolute;
  top: 10px;
  left: 148px;
  font-size: 15px;
}

input {
  color: white;
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  width: 190px;
  height: 40px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border: transparent;
  margin-left: 25px;
  z-index: -1;
  cursor: pointer;
}

input:hover {
  background-image: linear-gradient(hsl(224, 30%, 27%), hsl(224, 30%, 27%));
}

@media (max-width: 375px) {
  .parent {
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
  }
  .child-1 {
    grid-area: 1/1/2/2;
    width: 100vw;
  }
  .child-2 {
    grid-area: 2/1/3/2;
    width: 107vw;
    height: 56vh;
    position: relative;
  }
  .sum {
    position: absolute;
    left: 50px;
    top: 15px;
  }
  .react {
    position: absolute;
    left: 0px;
    top: 55px;
    width: 338px;
    height: 40px;
    padding-right: 250px;
  }

  .mem {
    position: absolute;
    left: 0px;
    top: 112px;
    width: 338px;
    height: 40px;
    padding-right: 250px;
  }

  .verb {
    position: absolute;
    left: 0px;
    top: 169px;
    width: 338px;
    height: 40px;
    padding-right: 250px;
  }

  .vis {
    position: absolute;
    left: 0px;
    top: 226px;
    width: 338px;
    height: 40px;
    padding-right: 250px;
  }
  input {
    position: absolute;
    left: 20px;
    top: 283px;
    width: 338px;
    height: 40px;
    padding: 10px;
  }
  .react::before,
  .mem::before,
  .verb::before,
  .vis::before {
    position: absolute;
    left: 269px;
  }
  .react::after,
  .mem::after,
  .verb::after,
  .vis::after {
    position: absolute;
    left: 290px;
  }
}
